:root {
    --msg-bg-hover: #2e3035;
    --msg-bg-none: #313338;
}

.msgwrapper {
    display: flex;
    flex-direction: row;
    background-color: var(--msg-bg-none);
    transition: background-color 200ms linear;
    margin: 8px 0px;
    align-items: center;
}

.userlogo {
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
}

.text {
    font-family: 'Montserrat';
    font-size: 14px;
    word-break: normal;
    max-width: 100%;
}

.msgwrapper:hover {
    background-color: var(--msg-bg-hover);
}