:root {
    --search-bg: #202225;
    --search-text: #72767D;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 8px;
}

.search {
    border: 0;
}

.wrapper img {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    filter: brightness(0) invert(72%) sepia(6%) saturate(828%) hue-rotate(182deg);
}

.wrapper img:hover {
    cursor: pointer;
}

.wrapper.search {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input[type='text'].search {
    height: 70%;
    background-color: var(--search-bg);
}