:root {
    --search-bg: #202225;
    --search-text: #72767D;
}

.dmnavig {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.search {
    border: 0;
}

.dmnavig img {
    max-width: 25px;
    max-height: 25px;
    opacity: 0.5;
    transition: opacity 200ms linear;
}

.dmnavig img:hover {
    opacity: 1;
    cursor: pointer;
}

.dmnavig.search {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    height: 100%;
}

input[type='text'].search {
    height: 70%;
    background-color: var(--search-bg);
}