:root {
    --message-input-bg: #383a40;
}

.messageField {
    min-height: 44px;
    width: calc(100% - 16px);
    box-sizing: border-box;
    margin: 0 8px;
    padding: 0 16px;
}

.messageField {
    outline: none;
    border: 0;
    border-radius: 15px;
    font-size: 16px;
    color: white;
    background-color: var(--message-input-bg);
    resize: none;
}
