:root {
    --bg-black: #202225;
    --bg-white: #292b2f;
    --btn-color: #5865f2;
    --btn-clicked-color: #4752c4;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4%;
}

.logo {
    height: 30%;
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo h1 {
    margin: 0;
}

img.logo {
    height: 100%;
    margin-right: 10px;
}

h1 {
    font-size: 20px;
    color: white;
    margin-bottom: 0px;
}

h2 {
    font-weight: bold;
    font-size: 28px;
    color: white;
    margin: 0px;
}

.login h2 {
    margin-bottom: 20px;
}

.text {
    font-size: 12px;
    color: var(--text-color);
    margin: 0px 0px 15px 0px;
}

.forms {
    background-color: var(--sidebar-profile-info);
    /* border: 1px solid black; */
    border-radius: 10px;
    height: 40%;
    width: 50%;
    margin-left: 20%;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    padding: 25px;
}

.login {
    min-width: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 0px;
}

.link {
    width: 100%;
    text-align: left;
    margin-top: 0px;
    color: #1190d1;
}

.link:hover {
    cursor: pointer;
}

.qr {
    width: 25%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.qr img {
    width: 100%;
    border-radius: 2px;
    margin: 10px;
}

.qr h2 {
    font-size: 14px;
    font-weight: normal;
    margin: 0 10px;
    color: var(--text-color);
}
