.msgList {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    padding: 0 8px;
    flex-grow: 1;
}

.initialMessageHint {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-size: 15px;
    color: #949ba4;
    text-align: center;
}


.initialMessageHint img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
}