:root {
    --msg-bg-hover: #2e3035;
    --msg-bg-none: #313338;
}

.msgwrapper {
    display: flex;
    flex-direction: row;
    background-color: var(--msg-bg-none);
    transition: background-color 200ms linear;
    padding: 8px 2px;
    align-items: start;
}

.avatar {
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
}

.text {
    font-size: 14px;
    word-break: normal;
    flex-grow: 1;
}

.username {
    font-size: 12px;
    color: #828282;
    margin: 0;
}

.msgwrapper:hover {
    background-color: var(--msg-bg-hover);
}