:root {
    --msg-bg-hover: #2e3035;
    --msg-bg-none: #313338;
}

.msgwrapper {
    display: flex;
    flex-direction: row;
    background-color: var(--msg-bg-none);
    transition: background-color 200ms linear;
    padding: 8px 2px;
    align-items: start;
    max-width: 100%;
}

.avatar {
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
}

.text {
    font-size: 14px;
    max-width: 100%;
    color: #d7d7d7;
    margin: 0;
}

.username {
    font-size: 14px;
    color: #a4a4a4;
    margin: 0;
}

.msgwrapper:hover {
    background-color: var(--msg-bg-hover);
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}