:root {
    --msg-bg-hover: #2e3035;
    --msg-bg-none: #313338;
}

.msgwrapper {
    display: flex;
    flex-direction: row;
    background-color: var(--msg-bg-none);
    transition: background-color 200ms linear;
    padding: 2px;
    align-items: center;
    max-width: 100%;
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0 10px;
}

.text {
    font-size: 14px;
    max-width: 100%;
    color: #d7d7d7;
    margin: 0;
}

.username {
    font-size: 14px;
    color: #f2f3f5;
    margin: 0;
    margin-right: 8px;
}

.date {
    margin: 0;
    font-size: 12px;
    color: #949ba4;
}

.msgwrapper:hover {
    background-color: var(--msg-bg-hover);
}

.contentWrapper {
    width: 100%;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
