.replyContainer {
    margin-top: 16px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 8px;
    display: flex;
    align-items: center;
}

.replyAvatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 4px;
}

.replyAuthorName {
    font-size: 14px;
    color: #b3b9c1;
    margin: 0;
    margin-right: 8px;
    text-wrap: nowrap;
}

.replyContent {
    margin: 0;
    font-size: 14px;
    color: #949ba4;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.replyArrow {
    width: 18px;
    height: 18px;
    margin-right: 4px;
    filter: brightness(0) saturate(100%) invert(89%) sepia(9%) saturate(159%)
        hue-rotate(177deg) brightness(83%) contrast(89%);
}
