.dmuserwrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.dmuserwrapper img {
    height: 100%;
}

.username {
    color: white;
    text-align: left;
    font-size: 18px;
    margin-top: 10px;
    width: 55%;
}

.userlogo {
    border-radius: 50%;
}