.dm-section {
    background: #2B2D31;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    min-width: 20%;
    display: flex;
    flex-direction: column;
    padding: 0px 10px 5px 10px
}

.search {
    padding: 10px 15px 10px 5px;
    border-bottom: 1px solid #180023;
    justify-items: center;
    margin-bottom: 15px;
}