.dmwrapper {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: start;
    height: 50px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background-color: var(--bg-white);
    transition: background-color 100ms ease-in-out;
    margin-bottom: 10px;
    cursor: pointer;
}

.dmwrapper:hover {
    background-color: var(--btn-hover);
}

.dmwrapper img {
    border-radius: 100%;
    height: 100%;
    margin-right: 10px;
}

p {
    margin: 0;
    color: #949ba4;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}

.name {
    user-select: none;
    font-size: 14px;
}

.last-message {
    font-size: 12px;
}

.active {
    color: #f2f3f5;
}

.content-wrapper {
    padding: 8px 0;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
