.banner {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: end;
}

.icon {
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
}