@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root{
  --bg-white: #292b2f;
  --text-color: #DCDDDE;
  --cta-link: #00AFF4;
  --primary-chat-area: #36393F;
  --toolstips-and-userptofile: #18191c;
  --server-list-and-title-bar: #202225;
  --sidebar-profile-info: #292B2F;
  --btn-hover: #3f4248;
}

html, body, #root{
  height: 100%;
  background-color: var(--server-list-and-title-bar);
  font-family: 'Montserrat';
  padding: 0;
  overflow: hidden;
}

.app {
  display: flex; /* Flexbox для размещения панели и контента */
  height: 100vh; /* Полная высота экрана */
}
