.guilds-section {
    background-color: #1e1f22;
    padding: 12px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    /* Убираем скроллбар для Firefox */
    scrollbar-width: none;

    /* Убираем скроллбар для Chrome, Safari и Edge */
    -ms-overflow-style: none;
}

.guilds-section::-webkit-scrollbar {
    display: none; /* Полное скрытие в Chrome, Safari и Edge */
}
